<header class="headerCntr fixed-top">
  <div class="container clearfix">
    <div class="logo-left">
      <a href="https://metadesignsolutions.com/" class="logo">
        <img src="../../content/images/logo-new.png" alt="">
      </a>
    </div>
    <div class="menu-right">
      <input type="text" class="search-box" [(ngModel)]="searchText" placeholder="Search By Employee Name">
      <button class="search-btn" (click)="onSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
      
      <!--  / menu box \ -->
      <nav class="menuBox navbar navbar-expand-lg navbar-dark">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="https://metadesignsolutions.com/" target="_blank">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="https://metadesignsolutions.com/about-us/" target="_blank">About us</a></li>
            <li class="nav-item"><a class="nav-link" href="https://metadesignsolutions.com/contactus/" target="_blank">Contact Us</a></li>
          </ul>
        </div>

      </nav>
      <!--  \ menu box / -->

    </div>
  </div>
</header>
