<!--  / footer container \ -->
<footer class="footerCntr text-center">
  <div class="container">
    <!--<img src="content/images/footer-img.jpg" alt="" class="mx-auto d-block fb-likes">-->
    <div class="footer--contact text-center">
      <a href="mailto:sales@metadesignsolutions.com"><i class="fa fa-envelope"></i> sales@metadesignsolutions.com</a>
      <span><i class="fa fa-volume-control-phone"></i><strong> MetaDesign Solutions PVT LTD</strong></span>
    </div>

    <div class="copyright">
      <p>© 2019 MetaDesign Solutions | ALL RIGHTS RESERVED</p>
      <a href="https://metadesignsolutions.com/news" target="_blank">News</a> | <a target="_blank" href="https://metadesignsolutions.com/blogs">Blogs</a> | <a target="_blank" href="https://metadesignsolutions.com/our-privacy-policy">PRIVACY POLICY</a> | <a target="_blank" href="https://metadesignsolutions.com/sitemap">SiteMap</a>
    </div>
  </div>
</footer>
<!--  \ footer container / -->
