<div class="modal-content">
  <form name="employeeForm" autocomplete="off">
    <div class="modal-header relative">
      <h4 class="modal-title">Update Employee Detail</h4>
      <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
    </div>
    <div class="modal-body mCustomScrollbar js-mBodyheight modalheight_normal">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Name <sup class="requiredText">*</sup></label>
            <input type="text" class="form-control rounded-0" name="employeeName" required
              [(ngModel)]="employeeData.employee_name" (ngModelChange)="employeeNameError = ''" [readOnly]="isOnlyForView">
            <div class="alert alert-danger mg-b0" *ngIf="employeeNameError"><i class="fa fa-exclamation-circle"></i> {{employeeNameError}}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Age <sup class="requiredText">*</sup></label>
            <input type="text" class="form-control rounded-0" name="employeeAge" [(ngModel)]="employeeData.employee_age"
              required (ngModelChange)="employeeAgeError = ''" [readOnly]="isOnlyForView">
            <div class="alert alert-danger mg-b0" *ngIf="employeeAgeError"><i class="fa fa-exclamation-circle"></i> {{employeeAgeError}}</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label>Salary <sup class="requiredText">*</sup></label>
            <input type="text" class="form-control rounded-0" name="employeeSalary" required
              [(ngModel)]="employeeData.employee_salary" (ngModelChange)="employeeSalaryError = ''" [readOnly]="isOnlyForView">
            <div class="alert alert-danger mg-b0" *ngIf="employeeSalaryError"><i class="fa fa-exclamation-circle"></i> {{employeeSalaryError}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer d-block">
      <ul class="footer-Action">
        <li><button class="btn btn-link text-left" data-dismiss="modal" (click)="closeModal()">Close</button></li>
        <li>
          <div class="details">
            <div class="btn-listLink">
              <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" disabled="isOnlyForView" (click)="updateEmployeeData()">
                Submit
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </form>
</div>
